@import '../../styles';


.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem $layout-padding 1.5rem $layout-padding;
    box-shadow: 3px 0px 20px 0px #0000000A;
    img {
        width: 144.8px;
        height: 30px;
    }

    div:nth-child(3) {
        display: flex;
        align-items: center;
        width: fit-content;
        a{
            font-size: 16px;
            margin-right: 3rem;
        }

        img {
            height: 22.74px;
            width: 19.67px;
            margin-right: 1.6rem;
        }

        div {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;

            img {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                object-fit: cover;
            }
        }

        select {
            color: $primary-color;
            border: none;
            outline: none;
            width: 4rem;
            font-weight: 500;
            font-size: 15px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url('../../../public/images/icon/drop-down-icon.svg');
            background-repeat: no-repeat;
            background-position: right 4px center;
        }

    }
}


.inputContainer {
    display: flex;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid $tertiary-color-0;
    box-sizing: border-box;
    overflow: hidden;

}

.inputStyle {
    outline: none;
    border: none;
    text-indent: 10px;

    width: 85%;
}

.searchButtonStyle {
    border: 0;
    background-color: $secondary-color;
    height: 100%;
    width: 15%;
    cursor: pointer;
    img{
        height: 14px;
        width: 14px;
    }
}

