@import '../../styles.scss';

$common-margin: 0.7rem;


%commonStyle {
    display: flex;
    padding-left: $layout-padding;
}

%iconStyle {
    height: 16px;
    width: 16px;
    margin-right: $common-margin;
}




.navigation {
    width: 283px;
    height: fit-content;
    border: 1px solid black;

    div:nth-child(1) {
        @extend %commonStyle;

        img {
            @extend %iconStyle;
        }


        select {
            border: none;
            outline: none;
            color: $primary-color;
            width: 10.3rem;
            font-size: 16px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url('../../../public/images/icon/drop-down-2-icon.svg');
            background-repeat: no-repeat;
            background-position: right 4px center;

        }
    };

    div:nth-child(2) {
        @extend %commonStyle;
        align-items: center;
        img {
            @extend %iconStyle;
        }
        p{
            font-size: 16px;
            color: $primary-color;
        }
    };
    p:nth-child(3){
        font-size: 12;
        font-weight: 500;
        color: $primary-color;
        padding-left: $layout-padding;
        text-transform: uppercase;
    };

    
}

.activeNavLinkStyle {
    @extend %commonStyle;
    align-items: center;
    height: 40px;
    margin: 1rem 0rem 1rem 0rem;
    background-color: $secondary-color-shade;
    border-left: 4px solid $secondary-color;
    img {
        @extend %iconStyle;
    }
    p{
        font-size: 16px;
        color: $primary-color;
    }
};