@import '../../styles.scss';

$common-margin: 0.7rem;


%commonStyle {
    display: flex;
    padding-left: $layout-padding;
}

%iconStyle {
    height: 16px;
    width: 16px;
    margin-right: $common-margin;
}

%navHeaderCommonStyle {
    font-size: 12px;
    font-weight: 500;
    color: $primary-color;
    padding-left: $layout-padding;
    text-transform: uppercase;
}

%navCommonStyle {
    align-items: center;
    height: 40px;
    margin: 0rem 0rem 0rem 0rem;
    text-decoration: none;
    box-sizing: border-box;

    img {
        @extend %iconStyle;
    }

    p {
        font-size: 16px;
        color: $primary-color;
    }
}




.navigation {
    width: 283px;
    height: fit-content;
    padding-top: 2.3rem;
    box-shadow: 0px 5px 20px 0px $shadow-color;


    div:nth-child(1) {
        @extend %commonStyle;
        margin-bottom: 3rem;

        img {
            @extend %iconStyle;
        }


        select {
            border: none;
            outline: none;
            color: $primary-color;
            background-color: transparent;
            width: 10.3rem;
            font-size: 16px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url('../../../public/images/icon/drop-down-2-icon.svg');
            background-repeat: no-repeat;
            background-position: right 4px center;

        }

        


    }

    ;

    div:nth-child(2) {
        @extend %commonStyle;
        align-items: center;

        img {
            @extend %iconStyle;
        }

        p {
            font-size: 16px;
            padding-left: 1px;
            color: $primary-color;
        }
    }

    ;

    p:nth-child(3) {
        @extend %navHeaderCommonStyle;
    }

    ;




}


.navHeaderStyle {
    @extend %navHeaderCommonStyle;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

.activeNavLinkStyle {
    @extend %navCommonStyle;
    display: flex;
    padding-left: 2.3rem;
    background-color: $secondary-color-shade;
    border-left: 3px solid $secondary-color;
}

;

.nonActiveNavLinkStyle {
    @extend %navCommonStyle;
    display: flex;
    padding-left: $layout-padding;
}

;