@import "../styles.scss";

section {
    width: $dashBoardCommonWidth;
    background-color: red;
}

.backButton {
    display: flex;
    align-items: center;
    background-color: black;

    button {
        height: 30px;
        width: 30px;

        img {
            width: 26.72px;
            height: 9.38px;
        }
    }

    p {
        font-size: 16px;
        color: $tertiary-color;
    }
}
